<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" type="image/x-icon" href="/icon/icon.ico">
		<link rel="stylesheet" href="/css/fonts.css">
		<link rel="stylesheet" href="/css/main.css">
		<link rel="stylesheet" href="/css/header.css">
		<link rel="stylesheet" href="/css/footer.css">
		<title>Fresh Chef</title>
	</head>
	<body>

		<% if (typeof user !== 'undefined' && user) { %>
			<p>Добро пожаловать, <%= user.name %>!</p>
		<% } else { %>
			<p>Пожалуйста, войдите в свой аккаунт</p>
		<% } %>
		
		<%- include('./common/header.ejs') %>

		<div class="content-container">

			<div class="top-image-container">
				<div class="top-description">
					<div class="top-text">
						Заказывайте<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Получайте<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Наслаждайтесь
					</div>
					<div class="top-main-text">
						Откройте дверь к новым вкусам!<br>Заказывайте кулинарные шедевры, получайте их быстро и легко прямо к вашему столу, и наслаждайтесь великолепными вкусами вместе с нами!
					</div>
					<div>
						<a class="button-link" href="/menu">Посмотреть меню</a>
					</div>
				</div>
			</div>

			<div class="free-space"></div>

			<div class="green-line"></div>

			<%- include('./common/how_works.ejs') %>

			<div class="green-line"></div>
			
			<div class="most-popupal-container">
				<div class="header-header-text">Наши самые популярные блюда</div>
				<div class="dish-box-container">
					<% for(var i=0; i<dishes.length; i++) {%>
					<div class="box-link">
						<div class="dish-box">
							<input type="hidden" value="<%=dishes[i].id%>">
							<img src="<%=dishes[i].img%>">
							<div class="dish-box-description">
								<div class="header-dish-text"><%=dishes[i].title%></div>
								<div class="main-dish-text"><%=dishes[i].short_description%></div>
								<div class="info-text-container">
									<div class="info-dish-amount-text"><%=dishes[i].amount%> г</div>
									<div class="info-dish-price-text"><%=dishes[i].price%> ₽</div>
								</div>
							</div>
						</div>
					</div>
					<% } %>
				</div>
			</div>

		</div>

		<%- include('./common/footer.ejs') %>

		<script src="/scripts/jquery.js"></script>
		<script src="/scripts/index.js"></script>
	</body>
</html>