<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" type="image/x-icon" href="/icon/icon.ico">
		<link rel="stylesheet" href="/css/fonts.css">
		<link rel="stylesheet" href="/css/main.css">
		<link rel="stylesheet" href="/css/header.css">
		<link rel="stylesheet" href="/css/footer.css">
		<link rel="stylesheet" href="/css/info.css">
		<title>Информация о блюде</title>
	</head>
	<body>

		<%- include('./common/header.ejs') %>

		<div class="content-container">
			<div class="dish-info-container">
				<input type="hidden" value="<%= info[0].id %>">
				<div class="img-button-container">
					<div class="header-text"><%= info[0].title %></div>
					<img src="<%= info[0].img %>" class="dish-image">
					<% if (user) { %>
						<% if (isAdded) { %>
							<div class="dish-button remove-button">Убрать из корзины</div>
						<% } else { %>
							<div class="dish-button add-button">Добавить в корзину</div>
						<% } %>
					<% } else { %>
						<div class="dish-button auth-button">Добавить в корзину</div>
					<% } %>
				</div>
				<div class="info-container">
					<div class="main-text"><%= info[0].description %></div>
					<div class="info-table">
						<div class="info-row">
							<div class="info-label main-text">Калории:</div>
							<div class="info-value main-text"><%= info[0].calories %></div>
						</div>
						<div class="info-row">
							<div class="info-label main-text">Жиры:</div>
							<div class="info-value main-text"><%= info[0].fat %>g</div>
						</div>
						<div class="info-row">
							<div class="info-label main-text">Углеводы:</div>
							<div class="info-value main-text"><%= info[0].carbohydrates %>g</div>
						</div>
						<div class="info-row">
							<div class="info-label main-text">Белки:</div>
							<div class="info-value main-text"><%= info[0].protein %>g</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<%- include('./common/footer.ejs') %>

		<script src="/scripts/jquery.js"></script>
		<script src="/scripts/info.js"></script>
		
	</body>
</html>