<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" type="image/x-icon" href="/icon/icon.ico">
		<link rel="stylesheet" href="/css/fonts.css">
		<link rel="stylesheet" href="/css/main.css">
		<link rel="stylesheet" href="/css/header.css">
		<link rel="stylesheet" href="/css/footer.css">
		<link rel="stylesheet" href="/css/profile.css">
		<title>Профиль</title>
	</head>
	<body>

	<%- include('./common/header.ejs') %>

	<div class="content-container">
		<div class="info-form">
			<div class="buttons-container">
				<a class="button-profile selected">Профиль</a>
				<a class="button-orders">Заказы</a>
			</div>
			<img src="/img/content/logo.svg" class="info-logo">
			<div class="input-form">
				<div class="header-text-info">Добро пожаловать в личный кабинет</div>

				<form id="profileForm" class="save-form" method="POST">
					<div class="info-input-container">
						<input type="hidden" name="id" value="<%= (typeof user !== 'undefined' && user) ? user.id : '' %>">
						<input type="text" name="name" placeholder="Имя Фамилия" value="<%= (typeof user !== 'undefined' && user) ? user.name : '' %>">
						<input type="email" name="email" placeholder="Email" value="<%= (typeof user !== 'undefined' && user) ? user.email : '' %>">
						<input type="password" name="password" placeholder="Пароль">
						<button type="submit" disabled>Сохранить</button>
					</div>
				</form>

				<div class="dish-button logout-button">Выйти</div>
			</div>

			<div class="orders-container field-hidden">
				<% if (Object.keys(orders).length > 0) { %>
					<% Object.keys(orders).forEach(orderNumber => { %>
						<div class="order-group">
							<div class="order-group-header">
								Заказ №<%= orderNumber %>
							</div>
							<% orders[orderNumber].items.forEach(order => { %>
								<div class="order-item">
									<img src="<%= order.img %>" alt="<%= order.title %>" class="order-item-img">
									<div class="order-item-details">
										<div class="order-item-title"><%= order.title %></div>
										<div class="order-item-price">Цена: <%= order.price %> ₽</div>
										<div class="order-item-quantity">Количество: <%= order.quantity %></div>
									</div>
								</div>
							<% }); %>
							<div class="order-total">
								Итоговая стоимость: <%= orders[orderNumber].total %> ₽
							</div>
						</div>
					<% }); %>
				<% } else { %>
					<div class="header-text-info">У вас нет заказов</div>
				<% } %>
			</div>			
		</div>
	</div>

	<div id="messageModal" class="modal">
		<div class="modal-content">
			<span class="close">&times;</span>
			<div id="messageContent" class="header-title-text"></div>
		</div>
	</div>

	<%- include('./common/footer.ejs') %>

	<script src="/scripts/jquery.js"></script>
	<script src="/scripts/profile.js"></script>

	</body>
</html>
