<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" type="image/x-icon" href="/icon/icon.ico">
		<link rel="stylesheet" href="/css/fonts.css">
		<link rel="stylesheet" href="/css/main.css">
		<link rel="stylesheet" href="/css/header.css">
		<link rel="stylesheet" href="/css/footer.css">
		<link rel="stylesheet" href="/css/reviews.css">
		<title>Отзывы</title>
	</head>
	<body>

		<%- include('./common/header.ejs') %>

		<div class="content-container">
			<div class="header-text">Обратная связь</div>
			<div class="feedback-form">
				<form>
					<div class="form-group">
						<label for="phone">Номер телефона:</label>
						<input type="text" name="phone" placeholder="+7(000)000-00-00">
					</div>
					<div class="form-group">
						<label for="subject">Тема сообщения:</label>
						<select id="subject" name="subject">
							<option value="review">Отзыв</option>
							<option value="question">Вопрос</option>
							<option value="proposal">Предложение</option>
							<option value="complaint">Жалоба</option>
						</select>
					</div>
					<div class="form-group">
						<label for="message">Сообщение:</label>
						<textarea name="message" placeholder="Ваше сообщение"></textarea>
					</div>
					<% if (user) { %>
						<button type="submit" class="submit-button">Отправить</button>
					<% } else { %>
						<button type="submit" class="submit-button go-to-auth" disabled>Отправить</button>
					<% } %>
				</form>
			</div>

			<div class="reviews-container">
				<% reviews.forEach(review => { %>
					<div class="review">
						<div class="review-header">
							<div class="review-header-text"><%= review.theme %></div>
							<div class="review-header-text"><%= review.name %></div>
							<div class="review-main-text"><%= review.phone %></div>
						</div>
						<div class="review-message">
							<%= review.review %>
						</div>
					</div>
				<% }); %>
			</div>
		</div>

		<div id="successModal" class="modal">
			<div class="modal-content">
				<span class="close">&times;</span>
				<p>Отзыв размещен</p>
			</div>
		</div>

		<%- include('./common/footer.ejs') %>

		<script src="/scripts/jquery.js"></script>
		<script src="/scripts/reviews.js"></script>

	</body>
</html>
